body {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

p {
    display: inline;
    padding-left: 10px;
}

div {
    margin-bottom: 75px;
}

.rolling-calc p {
    display: block;
}
